#!name = Github引用私有仓库文件
#!desc =
#!openUrl = 

#[rewrite_local]
^https?:\/\/(raw|gist)\.githubusercontent.com\/Linger989 url script-request-header https://raw.githubusercontent.com/Linger989/QuanX/master/Rewrites/GithubPrivate/GitHub-Private-Repo-Quantumultx.js
#[mitm]
hostname = raw.githubusercontent.com, gist.githubusercontent.com
